body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 40px auto;
	width: 90%;
}

footer {
	padding: 2em 0 1em 0;
	font-size: 12px;
}

h1 {
	font-size: 48px;
	margin-top: .3em;
	margin-bottom: 0;
}

h1 + h2 + h3 {
	margin-top: 0;
}

h2 {
	font-weight: 400;
	font-size: 28px;
}

h1, h2, h3 {
	text-rendering: optimizeLegibility;
}

h3 {
	font-size: 14px;
	font-weight: 400;
	color: #666666;
}

section > p {
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
	width: 70%;
}

aside {
  position: absolute;
  margin-left: 820px;
  font-size: smaller;
  width: 220px;
  text-align: right;
}


nav {
	font-size: 20px;
	color: #111111;
}

nav a {
	color: #666666;
	text-decoration: none;
}

nav a.selected {
	color: #111111;
}