#charts {
  margin-top: 80px;
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#hour-chart {
  width: 260px;
}

#delay-chart {
  width: 230px;
}

#distance-chart {
  width: 420px;
}

#date-chart {
  width: 920px;
}

#lists .project-header {
  line-height: 1.5em;
  width: 1040px;
  margin: 15px 0px 1px 0px;
  font-weight: bold;
}

#projects-list {
  max-height: 400px;
  overflow: auto;
}

#projects-list .agency {
  line-height: 1.5em;
  margin: 7px 0px 2px 0px;
}

#projects-list .agency > .name {
  font-style: italic;
}

#projects-list .project {
  line-height: 1.5em;
  background: #efefef;
  width: 1040px;
  margin-bottom: 1px;
  font-size: 14px;
}

#projects-list .project:hover {
  background: #dddddd;
}

#projects-list .project div, #lists .project-header div {
  display: table-cell;
  width: 200px;
  max-height: 50px;
  overflow: hidden;
  vertical-align: middle;;
  padding-right: 4px;
}

#projects-list .name, #lists .project-header .name {
  width: 360px !important;
}

#projects-list .date, #lists .project-header .date {
  width: 180px !important;
}

#projects-list .cost, #lists .project-header .cost {
  width: 150px !important;
}

#projects-list .positive {
  color: #14d100; //6aac2b
}

#projects-list .negative {
  color: #ff0000;
}