#back {
	color: #0000ff;
	cursor: pointer;
}

.d3-tip {
	line-height: 1;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

.d3-tip:after {
	/* Creates a small triangle extender for the tooltip */
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

.d3-tip.n:after {
	/* Style northward tooltips differently */
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

.d3-tip hr {
	border-bottom: 0px 0px 1px 0px thin dashed #eeeeee;
}

.d3-tip .title {
	/*font-weight: bold;*/
	margin-bottom: 5px;
	font-weight: bold;
}

.d3-tip .description {
	margin-bottom: 5px;
	font-size: 12px;
	max-width: 400px;
}

.d3-tip .detail {
	font-size: 12px;
	line-height: 1.5em;
}

.d3-tip .detail span {
	font-style: italic;
	padding-right: 8px;
}