#charts {
  margin-top: 80px;
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#hour-chart {
  width: 260px;
}

#delay-chart {
  width: 230px;
}

#distance-chart {
  width: 420px;
}

#date-chart {
  width: 920px;
}

#projects-list {
  max-height: 1024px;
  overflow: auto;
}

#projects-list .date,
#projects-list .day {
  margin-bottom: .4em;
}

#projects-list .project {
  line-height: 1.5em;
  background: #eee;
  width: 1240px;
  margin-bottom: 1px;
}

#projects-list .time {
  color: #999;
}

#projects-list .project div {
  display: inline-block;
  width: 300px;
  max-height: 50px;
  overflow: hidden;
}

#projects-list div.distance,
#projects-list div.delay {
  width: 160px;
  padding-right: 10px;
  text-align: right;
}

#projects-list .early {
  color: green;
}